<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Travel App</title>
        <meta name="description" content="Travel Application by Ante Kristic for Udacity Capestone Project in Front End Developer ND" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body class="container">
      <header id="main-header">
        <div class="container-header">
          <!--menu-->
          <div id="logo" class="logo">
            <img src="../media/logo_xsmall.jpg" alt="logo" width="100px">
          </div>
          <div id="menu" class="menu">
            <div id="menu_item"><a href="./index.html">Home</a></div>
            <div id="menu_item"><a href="#">My Trips</a></div>
            <div id="menu_item"><a href="#">Add lodgin info</a></div>
            <div id="menu_item"><a href="#">Add packing list</a></div>
            <div id="menu_item"><a href="#">Add notes</a></div>
          </div>
          <!--navigation-->
          <div id="nav" class="nav">
            <div id="menu_item">Travel Planer</div>
            <div id="menu_item">&#62</div>
            <div id="menu_item">Tripp</div>
          </div>
          <!--feature-->
          <div id="feature" class="feature">
            <h1 id="lighttext">Travel with a smile</h1>
            <form>
                <div class="multi-line">
                <div class="multi-line">
                    <label id="city-label" for="city">City:</label>
                    <input type="text" id="city" name="trip-destination" placeholder="Enter your destination here">
                </div>
                <div class="multi-line">
                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="trip-start">
                </div>
                <div class="multi-line">
                    <label for="end">End date:</label>
                    <input type="date" id="end" name="trip-end">
                </div>
                </div>
            </form> 
            <button id="add-tripp" class="button">Add trip</div>
        </div>
      </header>
      <main id="main-content">
        <div class="container-content">
            <div id="content" class="cardbox">
                <img id = "image" src="../media/logo_plane.jpg" alt="City image">
                <h3 id="destination">Welcome to Tripp app</h3>
                <div id="weather"></div>
            </div>
        </div>   
      </main>
    
    <footer class="container-footer">
      <div id="sub" class="subscribe">
        <div>Subscribe our newsletter and get useful information every week</div>
        <form>
          <input type="email" placeholder="Enter your email" id="fname" name="fname">
        </form>
      </div>
      <div id="bottom" class="links">
        <div class="links-item">
          <img src="../media/logo_plane.jpg" alt="Travel app logo" widht="50px" height="50px">
          <p id="mediumLightText">Travel App web site is developed for purpose of creating Capestone project
            for Udacity online course Front End Development. In order to pass the project 
            site must meet strict requirements</q></p>
        </div>
        <div class="links-item">
          <h5>Useful Link</h5>
          <a href="#">How it works</a>
          <a href="#">About Us</a>
          <a href="#">Read me</a>
          <a href="#">Support</a>
        </div>
        <div class="links-item">
          <h5>Documents</h5>
          <a href="#">Whitepaper</a>
          <a href="#">Privacy policy</a>
          <a href="#">Terme of Use</a>
          <a href="#">Agreement</a>
        </div>
        <div class="links-item">
          <h5>Address</h5>
          <a href="#">Google map</a>
          <p id="mediumLightText">Travel App Ltd, 126 Ilica Street, 10000 Zagreb, HR</p>
        </div>
      </div>
        <div id="copy" class="copyright">© 2020 Travel App. All Rights Reserved.</div>
      </div>   
    </footer>
  </body>
</html>